@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

*,
body {
  font-family: "Sen", sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #f3eed9;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f3eed9;
}

::placeholder {
  color: #f3eed9;
}

/*
#EC5353

#690000

#5AB3F2

#F3EED9
*/
